<engagement-container
    @register="register"
    instance_name="engagement_container"
    :overview="true"
>
    <!-- <template #in_engagement_navbar="{master}">
      <overview-card
        url="/api/v1/issues/overview/{{project_id}}"
        :engagement="master.selectedEngagement"
        :engagements_count="master.engagements.length"
      >
      </overview-card>
    </template> -->
  
    <!-- <template #general_navbar="{master}">
      <overview-card
        url="/api/v1/issues/overview/{{project_id}}"
        :engagements_count="master.engagements.length-1"
      >
      </overview-card>
    </template> -->

    <template #content="{master}">
      <engagement-body
        :engagement="master.selectedEngagement"
      >
      </engagement-body>
    </template>
</engagement-container>        
    
    
{% include "engagements:engagements/part/create_modal.html" %}
{% include "engagements:engagements/part/edit_modal.html" %}
