<div id="edit_modal" class="modal modal-small fixed-left fade shadow-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>Edit Engagement</h2>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn  btn-secondary mr-2" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button type="button" id="edit" class="btn btn-basic">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="form-edit">
                    <div class="section p-1">
                        <div class="custom-input mb-3">
                            <label for="input-name" class="font-weight-bold mb-1">Engagement Name</label>
                            <input type="text" class="field" name="name" id="input-name" class="field">
                        </div>
    
                        <div class="custom-input mb-3">
                            <label for="text-goal" class="font-weight-bold mb-1">Goal</label>
                            <textarea class="form-control field" name="goal" rows="8" id="text-goal"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="text-goal" class="font-weight-bold mb-1">Status</label>
                            <div class="d-flex">
                                <select class="selectpicker bootstrap-select__b flex-grow-1" data-style="btn">
                                    <option value="new">New</option>
                                    <option value="in_progress">In Progress</option>
                                    <option value="done">Done</option>
                                </select>
                            </div>
                        </div>  

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_date" class="font-weight-bold mb-1">Start Date</label>
                                    <input type="date" name="start_date" class="form-control field">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_date" class="font-weight-bold mb-1">End Date</label>
                                    <input type="date" name="end_date" class="form-control field">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
