<script src="{{ url_for('engagements.static', filename='js/vendor/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('engagements.static', filename='js/vendor/jquery.serialize-object.min.js') }}"></script>
<script src="{{ url_for('engagements.static', filename='js/vendor/axios.min.js') }}"></script>
<script src="{{ url_for('engagements.static', filename='js/tests.js') }}"></script>
<script src="{{ url_for('engagements.static', filename='js/test_run_modal.js') }}"></script>
<script src="{{ url_for('engagements.static', filename='js/quality_gate.js') }}"></script>


<script>
    overview_url = "{{url_for('api.v1.issues.overview', project_id=project_id)}}";
    security_app_url = "{{ url_for('theme.route_section_subsection', section='security', subsection='app').rstrip() }}?engagement={{ engagement.hash_id }}"
    security_results_url = "{{ url_for('theme.route_section_subsection_page', section='security', subsection='app', page='results').rstrip() }}"
    backend_perf_url = "{{ url_for('theme.route_section_subsection', section='performance', subsection='backend').rstrip() }}?engagement={{ engagement.hash_id }}"
    back_perf_results_url = "{{ url_for('theme.route_section_subsection_page', section='performance', subsection='backend', page='results').rstrip() }}"
    ui_perf_url = "{{ url_for('theme.route_section_subsection', section='performance', subsection='ui').rstrip() }}?engagement={{ engagement.hash_id }}"
    ui_perf_results_url = "{{ url_for('theme.route_section_subsection_page', section='performance', subsection='ui', page='results').rstrip() }}"
</script>


{{ template_slot('params_table_scripts') | safe }}
{{ template_slot('sources_scripts') | safe }}
{{ template_slot('locations_scripts') | safe }}
{{ template_slot('integrations_ui_performance_scripts') | safe }}




